:{$PORT}

@app {
    path_regexp app ^/([^/]+)/
}

handle @app {
    uri strip_prefix /{re.app.1}
    reverse_proxy {re.app.1}.up.railway.app:443 {
        transport http {
            tls
        }
    }
}

handle {
    respond "Proxy is running" 200
}
